:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 640px) {
  :root {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 360px) {
  :root {
    font-size: 0.7rem;
  }
}

button a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
}

p {
  font-size: 1.2rem;
  text-align: left;
}

p.centered {
  text-align: center;
}

p.error_msg {
  color: #e85635;
}

#app {
  max-width: calc(100vw-4rem);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form#login_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

form#login_form * {
  padding: 10px;
  font-size: 1rem;
  margin: 20px;
  border-radius: 10px;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    all: unset;
}

table {
  display: flex;
  flex-direction: column;
  max-width: min(95vw, 600px);
}

tr {
  background-color: #2d2d2f;/*#242729;*/
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  gap: 5px;
}

td {
  word-break: break-all;
  width: 100%;
}

td.flex_td {
  display: flex;
  gap: 10px;
}

td.button_holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  gap: 20px;
}


input {
  font-family: monospace;
}

td input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 10px;
}

button {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

p.follow {
  text-align: center;
  font-size: 0.8rem;
}

.redirect {
  margin: 20px 0 40px 0;
  
}

.redirect.no_error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.redirect.error_msg {
  line-height: 2.2;
}

.redirect .with_border {
  text-align: center;
  background-color: #2d2d2f;/*#3d4042;*/
  padding: 10px 20px;
  border-radius: 10px;
  gap: 5px;
  word-break: break-all;
  
}
