:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
}

p {
  font-size: 1.2rem;
  text-align: left;
}

p.error_msg {
  color: #e85635;
}

#app {
  max-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form#login_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

form#login_form * {
  padding: 10px;
  font-size: 1rem;
  margin: 20px;
  border-radius: 10px;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    all: unset;
}

table {
  display: flex;
  flex-direction: column;
  max-width: min(95vw, 600px);
}

tr {
  background-color: #242729;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  gap: 5px;
}

td.button_holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

td {
  word-break: break-all;
}

td input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 10px;
}

button {
  padding: 10px;
  font-size: 1rem;
}


/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
